<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OffRouteMap.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <OffRouteMap.Properties.Settings>
            <setting name="isDark" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="guiSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="lastZoom" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lastLatitude" serializeAs="String">
                <value>52</value>
            </setting>
            <setting name="lastLongitude" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="lastMap" serializeAs="String">
                <value>OSM</value>
            </setting>
        </OffRouteMap.Properties.Settings>
    </userSettings>
</configuration>