{
  "metadata": [
    {
      "src": [
        {
          "files": ["**/*.csproj"],
          "exclude": ["**/bin/**", "**/obj/**"]
        }
      ],
      "dest": "api"
    }
  ],
  "build": {
    "content": [
      {
        "files": [
          "docs/toc.yml",
          "api/**.yml",
          "docs/articles/**.md",
          "index.md"
        ],
        "src": "."
      }
    ],
    "resource": [
      "docs/**/*.png",
      "docs/**/*.svg"
    ],
    "dest": "{{DOC_OUTPUT_DIR}}",
    "globalMetadata": {
      "_appTitle": "{{PROJECT_NAME}}"
    }
  }
}